@font_face{
    font-family: "Delicious Handrawn", cursive;
}

html {
font-family: "Delicious Handrawn"

}

body {
    margin: 2rem;
    padding: 2 rem;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #CCEA8D;
}

header {
display:flex;
margin: 0px 40px 0px;
}

h1 {
padding: 1rem;
margin: 0;
width: 15%;
background-color: #019587;
text-align: center;
}

nav {
    background-color: #01415B;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

ul {
display: flex;
list-style-type: none;
justify-content: space-around;
width: 60%;


}

li a {

}

main {
background-color: #A6BC09;
margin: 0px 40px 0px;
display:flex;
}

section {
margin-top: 35%;
margin-bottom: 30%;
width: 100%;
}

h2 {
    text-align: center;
}

article {
width:100%;
text-align: center;

}

figure {

}

